<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="stylesheet" href="css/MapView.css"/>
    <link rel="stylesheet" href="css/Spinner.css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4303149958691101",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>

<!-- Header -->
<header id="header">
    <a href="https://kangnamshuttle.firebaseapp.com/index.html" class="title"><%= title %></a>
    <nav>
        <ul>
            <li><a href="https://kangnamshuttle.firebaseapp.com/index.html">공식 홈페이지</a></li>
            <!--<li><a href="elements.html">Elements</a></li>-->
        </ul>
    </nav>
</header>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <div id="spinnerView">
            <div class="loading-background">

            </div>
            <div class="spinner">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="loading-text">
                잠시만요! <br>지금 아주 중요한 무언가가 돌아가고 있어요!
                <footer class="spinner-created-by">
                    spinner created by https://loading.io/css/
                </footer>
            </div>
        </div>
        <div class="inner" id="contentLoader">
        </div>
    </section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; stories2. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script src="js/utils/OverrideCustomFunctionManager.js"></script>
<script src="js/utils/FirebaseInit.js"></script>
<script src="js/settings/DefineManager.js"></script>
<script src="js/utils/LogManager.js"></script>
<script src="js/utils/DataTransferManager.js"></script>
<script src="js/core/PageManager.js"></script>
<script src="js/core/AuthV2Manager.js"></script>
<script src="js/core/UserV2Manager.js"></script>
<script>

    pageName = "<%= loadPageName %>"
    pageData = <%- JSON.stringify(loadPageData) %>

    $(document).ready(function () {
        authV2Manager = new AuthV2Manager(firebase)
        userV2Manager = new UserV2Manager(firebase)

        pageManager = new PageManager()
        pageManager.RenderContentPage(pageName, pageData)
    })
</script>

</body>
</html>