<h1 class="major">실시간 달구지 위치 (Beta v0.3)</h1>
<div class="row">
    <div id="map" class="12u$">
        ?
    </div>
    <br>
    <div class="6u 12u$(medium)">
        <h3>마지막 달구지 위치 갱신 시간</h3>
        <ul class="alt">
            <li id="lastUpdateDateTime"></li>
        </ul>
    </div>

    <div class="6u 12u$(medium)">
        <h3>주의사항</h3>
        <ul class="alt">
            <li>지도에 표시된 달구지 위치는 매 30초마다 자동 갱신됩니다.</li>
            <li>달구지 위치 데이터는 <a href="https://new.ubikhan.com/">Ubikhan</a> 업체로 부터 가져오고 있습니다.</li>
            <li>본 SW는 시험 운영중인 서비스이므로 예상치 못한 문제가 발생할 수도 있습니다.</li>
        </ul>
    </div>
    <img class="1u 3u(small)" src="images/busPosIcon.png" />
    <img class="1u 3u$(small)" src="images/busNotAvailable.png" />
    <div class="10u$ 12u$(small)">Icons made by
        <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    <br><br>
    <h4 class="12u$">
        Debug response
    </h4>
    <pre class="12u$"><code id="busLocRawData">

                                </code></pre>
</div>

<script src="js/view/MapViewManager.js"></script>
<script src="js/core/MapManager.js"></script>
<script>
    locationMarkStack = []
    var map = null
    mapManager = new MapManager()

    function initMap() {
        var centerOfShuttleRoutine = {lat: 37.274786, lng: 127.125394};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14.3,
            center: centerOfShuttleRoutine
        });
        mapManager.GetBusLocation()
        mapManager.UpdateBusLocation()

        setInterval(function(){
            PrintLogMessage("map", "setInterval", "refresh bus loc data", LOG_LEVEL_DEBUG)
            mapManager.GetBusLocation()
            mapManager.UpdateBusLocation()
        }, BUS_LOCATION_REFRESH_TIME)
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv58DW58VFaQjKTJvRmX2izLcRqrbsbVI&callback=initMap">
</script>

</body>
</html>