<h1 class="major">계정 인증</h1>
<div class="row">
    <div class="12u$">
        <h3>인증 메일이 전송되었습니다.</h3>
    </div>
    <div class="12u$">
        <ul class="alt">
            <li><%= email %>에 전송된 <a href="http://mail.kangnam.ac.kr/">메일</a>을 확인하여 주세요.</li>
            <li>학번을 잘못 입력했을 시 뒤로 가서 등록된 계정 삭제를 눌러주세요.</li>
        </ul>
    </div>
</div>